#add-button {
    box-shadow: 4px 4px 3px grey;
}

#map-container {
    height: 500px;
}

td {
    text-align: center;
    vertical-align: middle;
}

td.child {
    text-align: left;
}

.fa-check-square {
    color: green;
    font-size: 32px;
}

td.details-control {
    background: no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: no-repeat center center;
}