// Custom.scss
// Option A: Include all of Bootstrap

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

$theme-colors: (
  "primary": #41D3BD,
  "danger": #F78154,
  "warning": #F2C14E,
  "success": #5FAD56,
  "light": #FFFFFC,
  "dark": #2F2F2C
);

$body-bg: #FFFFF2;
$body-color: #181816;

@import "../bootstrap/scss/bootstrap";